/* CSS GOES HERE! */
:root{
    --body: rgb(14, 14, 14);
    --white: white;
    --avatar_bg: rgb(122, 167, 0);;
    --avatar_bg_hover: rgb(59, 59, 59);
    --list_bg: rgb(29, 29, 29);
    --detail_bg: rgb(39, 39, 39);
}

*{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--white);
}

body{
    background: var(--body);
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar-group{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.avatar-group:hover{
    background: var(--avatar_bg_hover);
    border-radius: 5px;
}

.active{
    background: var(--avatar_bg_hover);
    border-radius: 5px;
}

.avatar {
    border-radius: 50%;
    width: 27px;
    height: 27px;
    padding: 8px;
    background: var(--avatar_bg);
    color: var(--white);
    text-align: center;
    font: 25px Arial, sans-serif;
}

.avatar-name{
    padding-left: 1rem;
    font-family: Arial, sans-serif;
}

.contact-list{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30%;
    height: 100vh;
    /*overflow-y: scroll;*/
    background: var(--list_bg);
    color: var(--white);
}

.contact-detail{
    width: 100%;
    height: 100vh;
    background: var(--detail_bg);
}

.contact-detail h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.contact-detail h3{
    margin-bottom: 1rem;
    text-align: center;
}

.m-5{
    margin: 5rem;
}

.ml-4{
    margin-left: 4rem;
}

.mr-4{
    margin-right: 4rem;
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2px;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.button:hover{
    opacity: 0.8
}